 <nav>
        <h2>Trailer-Youtube</h2>

        <ul>
            <li><a href="../user/login.hbs">login</a></li>
            <li><a href="../user/register.hbs">singup</a></li>
            <li><a href="">config</a></li>
        </ul>
    </nav>