<h1>singup</h1>

<form action="/user/singup" method="POST">
    <input name="name" type="text" placeholder="nombre">
    <input name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="pass">
    <input name="confirm_password" type="password" placeholder="confirm your pass">
    <button>singup</button>
</form>